<div class="changelog-item">
	<b>1.1.0</b> - <i>2016.10.16</i>

	<p>I need to notify people about updates and give em info about what changed!</p>

	<p>Changes:</p>
	<ul>
		<li>Added changelog to the settings menu;</li>
		<li>Added chanelog appear on update.</li>
	</ul>
</div>

<div class="changelog-item">
	<b>1.0.1</b> - <i>2016.10.16</i>

	<p>So I decided to rush the release. So I had some day one bugs to fix.</p>

	<p>Changes:</p>
	<ul>
		<li>Fixed being unable to delete all domains from the list;</li>
		<li>Fixed the issue when domain didn't start with www. but redirected there;</li>
		<li>Fixed domain dublication issues in the list;</li>
	</ul>
</div>

<div class="changelog-item">
	<b>1.0</b> - <i>2016.10.16</i>

	<p>Initial Release</p>
</div>