<div class="distract-off-warning-all distract-off-warning-content">
	<h1 class="distract-off-warning-all distract-off-warning-content distract-off-warning-h1">DistractOff</h1>
	<h2 class="distract-off-warning-all distract-off-warning-content distract-off-warning-h2">Shouldn't you be working?</h2>
	<div>
		<button class="distract-off-warning-all distract-off-warning-content distract-off-btn distract-off-btn-primary" id="distract-off-btn-yes">Yes, you're right.</button>
		<button class="distract-off-warning-all distract-off-warning-content distract-off-btn" id="distract-off-btn-no">Ehm, this is important, really...</button>
	</div>
	<div class="distract-off-footer-container">
		<div class="distract-off-footer">
			<button class="distract-off-warning-all distract-off-warning-content distract-off-btn" id="distract-off-btn-settings">Settings</button>
			<br>
			<p class="distract-off-warning-copyright">© Dmytro Kalchenko 2016</p>
		</div>
	</div>
</div>