*
{
	font-family: 'Roboto', sans-serif;

	padding: 0;
	margin: 0;

	font-size: 15px;
}

body
{
	color: #2c2c2c;
}

*:focus
{
	outline: none;
}

.name
{
	display: inline-block;
}

.status
{
	float:right;
	margin-top: 0.65em;
}

#text-status
{
	font-size: 1.15em;
	font-style: italic;

	padding: 20px;
}

.running
{
	color: #38e277;
}

.stopped
{
	color: #ff8251;
}

.container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: stretch;
}

.section
{
	flex-grow: 1;
	align-self: flex-start;
	flex-basis: 400px;

	padding: 10px 25px;
	margin: 10px;
}

.subsection-center
{
	text-align: center;
}

.subsection-border
{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #ccc;

	padding: 10px;
}

.subsection-unobtrusive
{
	color: #cfcfcf;
	font-style: italic;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.5em;
}

header
{
	padding: 15px 25px;
	margin-bottom: 15px;

	background-color: #2c2c2c;
	color: #fafafa;
}

a
{
	color: #2c2c2c;
	font-weight: bold;
}

a:hover
{
	color: #ac2c2c;
}

.changelog-item
{
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

.changelog-item:last-of-type
{
	margin-bottom: 0em;
	padding-bottom: 0em;
	border-bottom: 0px none;
}

#about > p, .changelog-item > p
{
	margin-bottom: 1em;
}

li
{
	margin-left: 2em;
}

input, textarea, button, select
{
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #ffffff;
}

td, th
{
	padding: 5px 10px;

	text-align: center;
	vertical-align: center;
}

th
{
	font-size: 1.25em;
}

table
{
	border-collapse: collapse;
}

tr
{
	border-bottom: 1px solid #ccc;
}

select
{
	padding: 8px 15px;	
}

select:hover
{
	border-color: #2c2c2c;
}

button, a .btn
{
	background-color: #fafafa;
	color: #2c2c2c;

	padding: 8px 15px;

	cursor: pointer;
}

button:hover, a:hover .btn
{
	background-color: #efefef;
}

button:active, a:active .btn
{
	border-color: #2c2c2c;
	background-color: #dfdfdf;
}

.btn-primary
{
	background-color: #2c2c2c;
	color: #fafafa;
}

.btn-primary:hover
{
	background-color: #5c5c5c;
	color: #fafafa;
}


.btn-primary:active
{
	background-color: #1a1a1a;
}

.btn-donate
{
	padding: 8px 15px;

	border-color: #FFDC2B;
	background-color: #FFDC2B;
	color: #9E7913;
}

.btn-donate:hover
{
	border-color: #FFDC2B;
	background-color: #F5D329;
	color: #9E7913;
}


.btn-donate:active
{
	border-color: #FFDC2B;
	background-color: #FFAD1E;
	color: #9E7913;
}

.btn-s-red
{
	width: 35px;
	padding: 5px;

	border-color: #FE4926;
	background-color: #D73E21;
	color: #fafafa;
}

.btn-s-red:hover
{
	border-color: #D73E21;
	background-color: #F14524;
}

.btn-s-red:active
{
	border-color: #FE4926;
	background-color: #B1331B;
}


#text-banned
{
	padding: 5px 15px;

	width: 600px;
	height: 400px;
}

.check-day
{
	width: 20px;
	height: 20px;
}

.modal-container
{
	position: fixed;
	top: 90%;
	left: 50%;
	margin-top: -50px;
	margin-left: -200px;

	width:400px;

	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #ffffff;

	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.25);

	opacity: 1;
	transition-duration: 1.5s;
}

.modal-container-center
{
	top: 50% !important;
}

.modal-container-move
{
	top: 50%;
}

.modal-container-hide
{
	opacity: 0;
}

.modal-container-hidden
{
	opacity: 0;
}

.modal-container-unhide
{
	opacity: 1;
}

.modal-title
{
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
	border-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

	background-color: #fafafa;
}

.modal-title-bold
{
	background-color: #2c2c2c;
	color: #fafafa;
}

.modal-title-success
{
	background-color: #38e277;
}

.modal-title-failure
{
	background-color: #ff8251;
}

.modal-title-warn
{
	background-color: #FFDD51;
}

.modal-content
{
	padding: 10px 10px;
}

.modal-buttons
{
	padding: 10px 10px;
}

.modal-buttons button
{
	float: right;
	margin: 10px 5px;
}